body {
  height: 480px;
  margin: 0;
}

.taps-page {
  /** from screen size */
  width: 800px;
  height: 480px;
  display: flex;
  flex-direction: column;

  border: 1px solid red;
}

.taps-page__taps {
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
}

.taps-page__tap {
  flex-grow: 1;
}

.taps-page__footer {
  min-height: 50px;
}
